<div class="create-post-page-wrapper">
  <div class="header">
    <div class="back-button-wrapper">
      <a [routerLink]="['']">Strona główna</a>
    </div>
  </div>

  <div class="content-wrapper">
    <p-panel>
      <ng-template pTemplate="header">
        Tytuł: {{ postDetails?.title }}
      </ng-template>
      <div class="body">
        {{ postDetails?.content }}
      </div>

      <ng-template pTemplate="footer">
        <h4>Numer telefonu: {{ postDetails?.telephone }}</h4>
        <h4>Imię: {{ postDetails?.user }}</h4>
        <h4>Miejscowość: {{ postDetails?.place }}</h4>
        <h4>Wiek: {{ postDetails?.years }}</h4>
      </ng-template>
    </p-panel>
  </div>
</div>
