<div class="cards-wrapper">
  <p-card
    *ngFor="let post of posts"
    [style]="{ width: '340px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/img/user.png" />
    </ng-template>

    <h2>{{ post.title }}</h2>
    <h4>{{ post.content }}</h4>
    <p>{{ post.telephone }}</p>
    <ng-template pTemplate="footer">
      <p-button
        label="Czytaj więcej"
        icon="pi pi-check"
        [routerLink]="['post/' + post.id]"
      ></p-button>
    </ng-template>
  </p-card>
</div>
