.register-page-wrapper {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .register-header {
    width: 100%;
    height: 70px;
    background-color: lightgray;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .back-button-wrapper {
      padding: 10px;
      a {
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
        &:hover {
          color: #3b82f6;
        }
      }
    }
  }

  .register-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .input-label {
      margin: 10px;
    }
    .Buttons-wrapper {
      padding: 10px;
      text-align: right;
    }
  }
}
