<div class="page-wrapper">
  <h1>Zmień hasło</h1>
  <div class="form-wrapper">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="label">
        <input
          formControlName="old"
          class="form-text-input"
          type="text"
          pInputText
          placeholder="Aktualne hasło.."
        />
      </div>
      <br />
      <div class="label">
        <input
          formControlName="new"
          class="form-text-input"
          type="text"
          pInputText
          placeholder="Nowe hasło..."
        />
      </div>
      <div class="label">
        <br />
        <p-button label="Zapisz" type="submit"></p-button>
      </div>
    </form>
  </div>
</div>
