<div class="shop-wrapper">
  <p-card
    header="Wózki"
    subheader="Duży wybór wysokiej jakości wózków inwalidzkich"
    [style]="{ width: '250px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/img/wheelchair.jpg" />
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button label="Sprawdź" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>
  <p-card
    header="Protezy"
    subheader="Szeroki wybór protez dostosowanych do ciebie"
    [style]="{ width: '250px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/img/dentures.jpg" />
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button label="Sprawdź" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>
  <p-card
    header="Łóżka"
    subheader="Łóżka ortopedyczne i nie tylko"
    [style]="{ width: '250px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/img/hospital.jpg" />
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button label="Sprawdź" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>
  <p-card
    header="Okulary"
    subheader="Okulary i soczewki dla każdego"
    [style]="{ width: '250px' }"
    styleClass="p-card-shadow"
  >
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/img/glasses.jpg" />
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button label="Sprawdź" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>
</div>
