<div class="city-wrapper">
  <div class="city-name">
    <div class="header">Kraków</div>
  </div>
  <div class="city-name">
    <div class="header">Warszawa</div>
  </div>
  <div class="city-name">
    <div class="header">Bielsko-Biała</div>
  </div>
  <div class="city-name">
    <div class="header">Łódź</div>
  </div>
  <div class="city-name">
    <div class="header">Gdańsk</div>
  </div>
  <div class="city-name">
    <div class="header">Białystok</div>
  </div>
</div>
<div class="popup" *ngIf="popupShow">
  popup <button class="close-button" (click)="closePopup()">X</button>
</div>
